
@model List<City>
<div>
	<table class="table table-bordered">
		<thead>
			<a class="btn btn-primary" asp-controller="City" asp-action="Create">Create</a>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">DeleteStatus</th>
				<th colspan="3" scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (City city in Model)
			{
				<tr>
					<th scope="row">@city.Id</th>
					<td>@city.Name</td>
					@if (!city.IsDeleted)
					{
						<td class="text-success">Active</td>

					}
					else
					{
						<td class="text-danger">Inactive</td>

					}
					<td>
						<a class="btn btn-primary" asp-controller="City" asp-action="Update" asp-route-id="@city.Id">Update</a>
					</td>

					<td>
						@if (!city.IsDeleted)
						{
							<form asp-controller="City" asp-action="Delete" asp-route-id="@city.Id">
								<button type="submit" class="btn btn-danger">
									Delete
								</button>

							</form>
						}
						else
						{
							<form asp-controller="City" asp-action="Restore" asp-route-id="@city.Id">
								<button type="submit" class="btn btn-warning">
									Restore
								</button>
							</form>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>