@model List<Employee>

<div>
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Add Employee</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Image</th>
                <th scope="col">Position Name</th>
                <th scope="col">Delete Status</th>
                <th colspan="2">Activities</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee employee in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@employee.Name</td>
                    <td>@employee.Surname</td>
                    <td>
                        <img width="80px" height="80px" src="~/uploads/employee/@employee.ImageUrl" alt="logo" />
                    </td>
                    <td>
                        @employee.Position.Name
                    </td>
                    <td>
                        @if (!employee.IsDeleted)
                        {
                            <span class="text-success">Active</span>
                        }
                        else
                        {
                            <span class="text-danger">Inactive</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@employee.Id" class="btn btn-warning"> Update</a>
                    </td>

                        <td>
                        @if (!employee.IsDeleted)
                        {
                            <form asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>

                            </form>
                        }
                        else
                        {
                            <form asp-controller="Employee" asp-action="Restore" asp-route-id="@employee.Id">
                                <button type="submit" class="btn btn-warning">
                                    Restore
                                </button>
                            </form>
                        }
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>